@import url('http://fonts.cdnfonts.com/css/gotham-rounded');

.circle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 30px;
  color: black;
  text-align: center;
  background: lightblue;
}

.circle-text-below{
  font-size: 25px;
}

#btn-home-start {
    margin-top: 50px;
    position: absolute;
    left: 50%;
}
#block-under-image {
    background-color: black;
    height: 9em;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-control-prev {
  margin-left: -50px;
}

.carousel-control-next {
  margin-right: -50px;
}
.quiz{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
.instruction{
    color: rgb(27, 25, 25);
}
#start_quiz{
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.candidate{
    border-color: white;
    color: gray;
    width: 33%;
    height: 33%;
    font-size: smaller;
}
.cell_table{
    min-width: 100%;
    min-height: 100%;
}
.empty_cell{
    min-width: 100%;
    min-height: 100%;
}
.cell{
    text-align: center;
    font-size: larger;
    border: 1px solid;
    min-width: 90px;
    min-height: 90px;
    empty-cells: show;
}
td.clickable_item:hover {
    background-color: lightsteelblue;
    cursor: pointer;
}
td.clickable_item:active {
    background-color: lightblue;
}
.answer{
    color: blueviolet;
}
.red{
    background-color: red;
    color: black;
}

.grey {
    color: grey;
}

.green{
    color: black;
    background-color: green;
}

.cardContainer {
    /*background-color: #555;*/
    /*color: #ddd;*/
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 90%;
}


.options {
    position: relative;
    padding-left: 40px
}

#options label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer
}

.options input {
    opacity: 0
}

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid #ddd;
    border-radius: 50%
}

.options input:checked~.checkmark:after {
    display: block
}

.options .checkmark:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked~.checkmark {
    background: #00acee;
    transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}

.btn-primary {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd
}

.card-title {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.progress {
    width: 90%;
    background-color: #00acee;
}

.progress-bar {
    background-color: #00acee;
}

.vertical-center {
    vertical-align:middle;
}