.circle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 30px;
  color: black;
  text-align: center;
  background: lightblue;
}

.circle-text-below{
  font-size: 25px;
}

#btn-home-start {
    margin-top: 50px;
    position: absolute;
    left: 50%;
}
.quiz{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
.instruction{
    color: rgb(27, 25, 25);
}
#start_quiz{
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.candidate{
    border-color: white;
    color: gray;
    width: 33%;
    height: 33%;
    font-size: smaller;
}
.cell_table{
    min-width: 100%;
    min-height: 100%;
}
.empty_cell{
    min-width: 100%;
    min-height: 100%;
}
.cell{
    text-align: center;
    font-size: larger;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    min-width: 100px;
    min-height: 100px;
    empty-cells: show;
}
.answer{
    color: blueviolet;
}
.red{
    background-color: red;
}

.grey {
    color: grey;
}

.green{
    color: black;
    background-color: green;
}