{% extends "layout.html" %}


{% block content %}

<script>
    var learn = {{learn|tojson}}
        console.log(learn)
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

<div class="container">
    {% autoescape off %}
    <div class="row">
        <div class="col-md-6">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="card-title">{{ learn.title }}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="cardContainer card">
                        <div class="card-subtitle">What is it</div>
                        <div class="tutorial-text">
                            {{ learn.def }}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="cardContainer card">
                        <div class="card-subtitle">How to use it</div>
                        <div class="tutorial-text">
                            {{ learn.usage }}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="cardContainer card">
                        <div class="card-subtitle">Why can we use it</div>
                        <div class="tutorial-text">
                            {{ learn.why }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="button-82-pushable mt-3 mb-4" role="button" id="btn-learn-next">
                        <span class="button-82-shadow"></span>
                        <span class="button-82-edge"></span>
                        <span class="button-82-front text">
                            {{ learn.button_text }}
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-3">
            <div id="carousel-learn" class="carousel slide carousel-fade pt-3" data-interval="false"
                 data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for img_url, title, descript in learn.slides %}
                        <li data-target="#carousel-learn" data-slide-to="{{ loop.index0 }}" class="active"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner" id="carousel-learn-inner">
                </div>
                <a class="carousel-control-prev" href="#carousel-learn" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-learn" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    {% endautoescape %}
</div>
{% endblock %}