{% extends "layout.html" %}
<!-- 
    should include:
        1. a button to start quiz
        2. instructions
            2.1 part 1 instruction
            2.2 part 2 instruction
            2.3 how to calculate score
 -->

{% block content %}
<script>
    $(document).ready(function(){
        $("#start_quiz").click(function(){
            window.location.href = "/quiz/1/part1";
        })
    })
</script>
<div>


    <div class="row">

        <div class=" col-md-5 congratulationCard card mt-sm-5 mb-sm-5 my-2 mx-auto">
            <h5 class="congratulationTitle mx-auto">Quiz Part1</h5>
            <div class="tutorial-text">
                <ul>
                    <br>
                    Please select ONLY ONE pattern that can be used to solve the puzzle. <br><br>
                    Please click AT LEAST one cell that helps you determine the pattern. <br><br>
                    Click to select/unselect a cell. <br><br>
                </ul>
            </div>
        </div>

        <div class=" col-md-5 congratulationCard card mt-sm-5 mb-sm-5 ml-3 mx-auto">
            <h5 class="congratulationTitle mx-auto">Quiz Part2</h5>
            <div class="tutorial-text">
                <ul>
                    <br>
                    Click candidates (in gray) that you think should be eliminated using the pattern. <br><br>
                    Click a candidate to make it disappear/reappear. <br><br>
                </ul>
            </div>
        </div>

    </div>

    <div class="row mt-sm-5 mx-auto">
        <div class="col-md-12 mx-auto">
            <button class="button-82-pushable" role="button" id="start_quiz">
                <span class="button-82-shadow"></span>
                <span class="button-82-edge"></span>
                <span class="button-82-front text">
                    Start Quiz
                </span>
            </button>
        </div>
    </div>

    
</div>
{% endblock %}