{% extends "layout.html" %}

{% block content %}
<script>
    let solution1 = {{solution1|tojson}};
    let solution2 = {{solution2|tojson}};
    let arrangement = {{question.arrangement|tojson}};
    let progress_bar = {{progress_bar|tojson}};
    let candidates = {{question.candidates|tojson}};
    let format = {{question.format|tojson}};
    let id = {{id|tojson}};
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_part2.js') }}"></script>

<div>
    <div class="row quiz">Question {{id}} Part 2</div>
    <div class="progressBarModal">
        <div class="progress progress-lg">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{progress_bar}}%; font-size: 120%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="6"><b>Progress: {{id}} / 6</b></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                For the rest of cells, please click candidates that you think should be eliminated:
            </div>
        </div>
        <div class="col-md-12">
            <div id="tableContainer"></div>
        </div>
    </div>
<!--    <button class="btn btn-primary" id="submit">Submit</button>-->
    <div class="row pt-4">
        <button class="btn btn-primary mr-3" id="submit">Submit</button>
        <button class="btn btn-primary" data-toggle="popover" data-trigger="focus" title="Hint" data-content="{{solution2.hint}}" >Give me a hint!</button>
    </div>
    <div id="hint_text"></div>
</div>
{% endblock %}