{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_part1_answer.js') }}"></script>

<script>
    let solution = {{solution|tojson}};
    let id = {{id|tojson}};
    let arrangement = {{question.arrangement|tojson}};
    let candidates = {{question.candidates|tojson}};
    let format = {{question.format|tojson}};
</script>
<div>
    <div class="row quiz">Question {{id}} Part 1 Answer</div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                1. The technique to solve this quzzle:  
            <span class="answer">{{solution.pattern}}</span>
            </div>
            <div class="row">
                2. Cells that indicate the correct technique
            </div>
        </div>
        <div class="col-md-6">
            <div id="tableContainer"></div>
        </div>
    </div>
    <div class="row">
        {{solution.explanation}}
    </div>
    <button class="btn btn-primary" id="next">Part 2</button>
</div>

{% endblock %}